<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring">
    <output-path>$PROJECT_DIR$/out/artifacts/spring</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="SSM" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="lib" />
          <element id="library" level="project" name="Java EE 6-Java EE 6" />
        </element>
      </element>
      <element id="javaee-facet-resources" facet="SSM/web/Web" />
    </root>
  </artifact>
</component>